{% extends "layout.html" %}

{% block container %}

<div class="p-2" style="height: auto;">
    <div class="table-responsive pb-0 mb-5 pt-2 table-container">
        <div class="text-center mb-3 border-bottom">
            <h2>Twoja trasa</h2>
        </div>
        <table class="table display table-light" id="example">
            <thead>
                <th scope="col" style="width: 20px;">L.p.</th>
                <th scope="col" style="width: 20px;">Id firmy</th>
                <th scope="col" style="width: 75px;">Nazwa</th>
                <th scope="col" style="width: 75px;">Adres</th>
                <th scope="col" style="width: 75px;">Miejscowość</th>
                <th scope="col" style="width: 75px;">Kontakt</th>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock container %}